<nav class='menu_container nav-container p-5 flex flex-row px-2 lg:px-4 xl:container xl:mx-auto'>
  <span class='w-1/2'>
    <input class='checkbox' type='checkbox' name='' id=''/>
    <div class='hamburger-lines'>
      <span class='line line1'></span>
      <span class='line line2'></span>
      <span class='line line3'></span>
    </div>
  </span>
  <span class='w-1/2 flex flex-row-reverse'>
    <button class='bg-metapink-100 text-white font-bold px-2 py-2.5 rounded-3xl px-5'>
      Connect
      <span class="material-symbols-outlined">
          chevron_right
    </span>
    </button>
  </span>
</nav>
<div id="menu" class="menu__hidden"></div>
