.gradient-border {
  --borderWidth: 4px;
  /*background: #1D1F20;*/
  border-width: 4px;
  border-style: solid;
  border-left-color: #002DBBFF;
  border-top-color: #023a9c;
  border-right-color: #02479c;
  border-bottom-color: #02479c;
  writing-mode: horizontal-tb;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1.1);
  filter: blur(2vw);
  background: linear-gradient(297deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 5s ease infinite;
}


@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/*TODO Probar https://codepen.io/georgehastings/pen/xgwxgo*/
