@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/*@import url('../menu/css/app.8af041ab.css');*/
@import url('hamburger.css');
@import url('card.css');
@import url('decentraland.css');
@import url('ourchannels.css');
@import url('gallery.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  backdrop-filter: blur(5px);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.79) 0%, rgba(46, 46, 46, 0.2345678) 100%), no-repeat center center fixed url('../img/background.PNG');
}


footer {
  background: #282828;
  color: beige;
  flex: 1 0 auto;
  padding-top: 20px;
  z-index: 0;
}

footer a {
  color: beige;
}

footer > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

footer > ul > li {
  display: block;

}

footer > ul > li > a {
  display: block;
  font-size: 21px;
  padding: 10px 20px;

}

.spacer {
  flex: 2 1 auto;
}
