@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@import url('hamburger.css');
@import url('decentraland.css');
@import url('card.css');
@import url('ourchannels.css');
@import url('roadmap.css');

@import url('socialcause.css');
@import url('gallery.css');



@font-face {
  font-family: 'Therhog';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Therhog.ttf')
  format('truetype');
}




@tailwind base;
@tailwind components;
@tailwind utilities;

/*body>*{*/
/*  border-color: green;*/
/*  border-width: 1px;*/
/*  border-style: solid;*/
/*}*/


html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  background: #000000;
  /*overflow-x: hidden;*/
}



/* Scrollbar styles */
::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: darkcyan;
}

::-webkit-scrollbar-corner {
  background: darkblue;
}


.fade-in-left {
  animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* splash*/
.se-pre-con {
  background: url('../img/moonwalk.gif') center no-repeat #000000;
}
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 6000000;
}


h1{
  @apply text-metablue tracking-wider text-7.5xl lg:text-6xl font-therhog font-bold;
  line-height: 2rem;
}


.scroll{
  animation: scroll_1 2s cubic-bezier(0.36, 0.85, 0.66, 0.23) infinite both;
}

@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}



.icon__background{
  background: rgb(0,192,250);
  background: linear-gradient(90deg, rgba(0,192,250,1) 0%, rgba(1,94,234,1) 100%);
}
