<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
        content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body class="font-nunito">

<!-- intercepted by a resourceQuery in the webpack config -->
<%= require('./partials/nav.html?raw') %>

<div id="model"></div>

<section class="cube" id="top" >
  <h1 class="font-marker text-red-800">Welcome to Meta-Moves</h1>
  <p>A Novel NFT collection where all members are able to bring to life there digital avatars through custom Motion Capture..</p>
  <p>Vivamus feugiat ante nec sagittis posuere.</p>
  <p>Sed tempus mi eget fermentum bibendum.</p>
  <p>Donec suscipit arcu semper, consectetur erat et, laoreet enim.</p>
  <p>Donec commodo magna a libero pellentesque pulvinar.</p>
  <p>Fusce ultrices lectus vitae nulla posuere, sed interdum massa dictum.</p>
  <p>Ut scelerisque augue id nisi euismod malesuada.</p>
  <p>Mauris dapibus lacus a dictum suscipit.</p>
  <p>Nullam volutpat tortor et elit cursus congue.</p>
  <p>Donec fringilla diam vel aliquam pellentesque.</p>
  <p>Mauris auctor nulla eget enim tincidunt laoreet.</p>
  <p>Vivamus rutrum libero quis urna ultricies, ut egestas velit imperdiet.</p>
  <p>Suspendisse quis elit a purus pharetra imperdiet in at eros.</p>
  <p>Nulla quis orci egestas, porttitor arcu sed, gravida massa.</p>
  <p>Donec non justo vel lorem consequat tristique a et nunc.</p>
</section>
<section class="cube" id="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p>Vivamus feugiat ante nec sagittis posuere.</p>
  <p>Sed tempus mi eget fermentum bibendum.</p>
  <p>Donec suscipit arcu semper, consectetur erat et, laoreet enim.</p>
  <p>Donec commodo magna a libero pellentesque pulvinar.</p>
  <p>Fusce ultrices lectus vitae nulla posuere, sed interdum massa dictum.</p>
  <p>Ut scelerisque augue id nisi euismod malesuada.</p>
  <p>Mauris dapibus lacus a dictum suscipit.</p>
  <p>Nullam volutpat tortor et elit cursus congue.</p>
  <p>Donec fringilla diam vel aliquam pellentesque.</p>
  <p>Mauris auctor nulla eget enim tincidunt laoreet.</p>
  <p>Vivamus rutrum libero quis urna ultricies, ut egestas velit imperdiet.</p>
  <p>Suspendisse quis elit a purus pharetra imperdiet in at eros.</p>
  <p>Nulla quis orci egestas, porttitor arcu sed, gravida massa.</p>
  <p>Donec non justo vel lorem consequat tristique a et nunc.</p>
</section>
<section class="cube" id="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p>Vivamus feugiat ante nec sagittis posuere.</p>
  <p>Sed tempus mi eget fermentum bibendum.</p>
  <p>Donec suscipit arcu semper, consectetur erat et, laoreet enim.</p>
  <p>Donec commodo magna a libero pellentesque pulvinar.</p>
  <p>Fusce ultrices lectus vitae nulla posuere, sed interdum massa dictum.</p>
  <p>Ut scelerisque augue id nisi euismod malesuada.</p>
  <p>Mauris dapibus lacus a dictum suscipit.</p>
  <p>Nullam volutpat tortor et elit cursus congue.</p>
  <p>Donec fringilla diam vel aliquam pellentesque.</p>
  <p>Mauris auctor nulla eget enim tincidunt laoreet.</p>
  <p>Vivamus rutrum libero quis urna ultricies, ut egestas velit imperdiet.</p>
  <p>Suspendisse quis elit a purus pharetra imperdiet in at eros.</p>
  <p>Nulla quis orci egestas, porttitor arcu sed, gravida massa.</p>
  <p>Donec non justo vel lorem consequat tristique a et nunc.</p>
</section>

<section class="cube" id="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p>Vivamus feugiat ante nec sagittis posuere.</p>
  <p>Sed tempus mi eget fermentum bibendum.</p>
  <p>Donec suscipit arcu semper, consectetur erat et, laoreet enim.</p>
  <p>Donec commodo magna a libero pellentesque pulvinar.</p>
  <p>Fusce ultrices lectus vitae nulla posuere, sed interdum massa dictum.</p>
  <p>Ut scelerisque augue id nisi euismod malesuada.</p>
  <p>Mauris dapibus lacus a dictum suscipit.</p>
  <p>Nullam volutpat tortor et elit cursus congue.</p>
  <p>Donec fringilla diam vel aliquam pellentesque.</p>
  <p>Mauris auctor nulla eget enim tincidunt laoreet.</p>
  <p>Vivamus rutrum libero quis urna ultricies, ut egestas velit imperdiet.</p>
  <p>Suspendisse quis elit a purus pharetra imperdiet in at eros.</p>
  <p>Nulla quis orci egestas, porttitor arcu sed, gravida massa.</p>
  <p>Donec non justo vel lorem consequat tristique a et nunc.</p>
</section>

<section class="cube" id="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p>Vivamus feugiat ante nec sagittis posuere.</p>
  <p>Sed tempus mi eget fermentum bibendum.</p>
  <p>Donec suscipit arcu semper, consectetur erat et, laoreet enim.</p>
  <p>Donec commodo magna a libero pellentesque pulvinar.</p>
  <p>Fusce ultrices lectus vitae nulla posuere, sed interdum massa dictum.</p>
  <p>Ut scelerisque augue id nisi euismod malesuada.</p>
  <p>Mauris dapibus lacus a dictum suscipit.</p>
  <p>Nullam volutpat tortor et elit cursus congue.</p>
  <p>Donec fringilla diam vel aliquam pellentesque.</p>
  <p>Mauris auctor nulla eget enim tincidunt laoreet.</p>
  <p>Vivamus rutrum libero quis urna ultricies, ut egestas velit imperdiet.</p>
  <p>Suspendisse quis elit a purus pharetra imperdiet in at eros.</p>
  <p>Nulla quis orci egestas, porttitor arcu sed, gravida massa.</p>
  <p>Donec non justo vel lorem consequat tristique a et nunc.</p>
</section>

<section class="cube" id="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p>Vivamus feugiat ante nec sagittis posuere.</p>
  <p>Sed tempus mi eget fermentum bibendum.</p>
  <p>Donec suscipit arcu semper, consectetur erat et, laoreet enim.</p>
  <p>Donec commodo magna a libero pellentesque pulvinar.</p>
  <p>Fusce ultrices lectus vitae nulla posuere, sed interdum massa dictum.</p>
  <p>Ut scelerisque augue id nisi euismod malesuada.</p>
  <p>Mauris dapibus lacus a dictum suscipit.</p>
  <p>Nullam volutpat tortor et elit cursus congue.</p>
  <p>Donec fringilla diam vel aliquam pellentesque.</p>
  <p>Mauris auctor nulla eget enim tincidunt laoreet.</p>
  <p>Vivamus rutrum libero quis urna ultricies, ut egestas velit imperdiet.</p>
  <p>Suspendisse quis elit a purus pharetra imperdiet in at eros.</p>
  <p>Nulla quis orci egestas, porttitor arcu sed, gravida massa.</p>
  <p>Donec non justo vel lorem consequat tristique a et nunc.</p>
</section>


<!--<h1 class="page-title">-->
<!--  <i class="fab fa-fort-awesome"></i>-->
<!--  HOME-->
<!--</h1>-->

<!--<%= require('./partials/footer.html?raw') %>-->
<!--<%= require('./partials/footer.html?raw') %>-->
<!--<%= require('./partials/footer.html?raw') %>-->
<!--<%= require('./partials/footer.html?raw') %>-->
<!--<%= require('./partials/footer.html?raw') %>-->
<!--<%= require('./partials/footer.html?raw') %>-->
<!--<%= require('./partials/footer.html?raw') %>-->
<!--<%= require('./partials/footer.html?raw') %>-->
<!--<%= require('./partials/footer.html?raw') %>-->
<!--<%= require('./partials/footer.html?raw') %>-->

</body>
</html>
