
#model {
  /*width: 50%;*/
  /*height: 2000px;*/
  right: -25%;
  top: 0;
  touch-action: none;
  position: absolute;
  /*z-index: -100;*/
  z-index: -350000;

  /*border-color: red;*/
  /*border-width: 2px;*/
  /*border-style: solid;*/

}

/*#home{*/
/*  padding-bottom: 10%;*/
/*  padding-top: 10%;*/
/*}*/


#metamoves {
  width: inherit;
  background-image: linear-gradient(90deg, #7503E8, #A8109F, #BB1484, #D21A63);
  background-clip: text;
  color: transparent;
}


.marquee {
  width: 100%;
  max-width: 100%;

  overflow-x: hidden;
}

.track {
  width: 100%;
  position: relative;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
  overflow-x: unset;
}

/* keyframe */
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}


/*  visuals */

.visuals__rotation {
  transform: rotate(-15deg) translateY(-50px) translateX(5px);
  transition-duration: 500ms;
  border-radius: 0;
}

.visuals {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  height: 75%;
  width: 70%;
  left: -10px;
  border-radius: 5px;
  bottom: 0;
}

#visuals__background_1 {
  opacity: 0.99;
  background-color: #8E0F58;
}


#visuals__background_2 {
  opacity: 0.99;
  background-color: #780F94;
}

#visuals__background_3 {
  opacity: 0.99;
  background-color: #4F19B1;
}


#connect{
  position: relative;
  display: inline-block;
  @apply p-2;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;

}
#connect:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 200px #03e9f4;
  -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#connect{
  filter: hue-rotate(110deg);
}
#connect span{
  position: absolute;
  display: block;
}
#connect span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
#connect span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
#connect span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}


#connect span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom: 100%;
  }
}



/* 13 */
.btn-13 {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #DF1E62;
  background-image: linear-gradient(315deg, #771193 0%, #96095D 74%);
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #fff;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}

.custom-btn {
  /*width: 130px;*/
  /*height: 40px;*/
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: #D02A6C;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
  7px 7px 20px 0 rgba(0,0,0,.1),
  4px 4px 5px 0 rgba(0,0,0,.1);
  outline: none;
}


.contains{
  @apply lg:px-12 lg:py-4 xl:px-20 xl:py-12 lg:h-screen
}
